.favorite-list-wrapper {
  padding: 1rem;
  max-height: 65vh;
  overflow-y: auto;

  & h3 {
    border-bottom: 1px solid;
    border-color: #333;
  }
}

.favorite-item-wrapper {
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: default;
  justify-content: flex-start;
  height: 60px;
  padding: 10px 0;
  margin: 5px 0;

  &:hover {
    background: #1d1d1d;
  }

  & > * {
    background-color: transparent;
  }
}

.favorite-song-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  max-width: 100%;
  margin: 1rem 0;
}

.song-title {
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.song-artist {
  font-size: 14px;
  margin: 0;
  color: #bbbbbb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
