.player-bar {
  background-color: #524c4c;
}

.progress-bar {
  height: 2px;
  background-color: red;
}

.controls-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
}

.left-controls,
.middle-controls,
.right-controls {
  width: 33%;
  display: flex;
}

.left-controls,
.middle-controls,
.right-controls,
.volume-container,
.song-details {
  background-color: inherit;
}

.left-controls {
  align-items: center;
}

.left-controls button,
.right-controls button {
  background: transparent;
  border: none;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

.control-icon {
  height: 30px;
  width: 30px;
  background: transparent;
}

.play-pause-icon,
.sound-icon {
  height: 40px;
  width: 40px;
  background: transparent;
}

.middle-controls {
  align-items: center;
  justify-content: center;

  & .cover-container {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    border: none;

    & img {
      border-radius: 4px;
      width: 100%;
      height: 100%;
    }
  }

  & .song-details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    & span {
      background-color: transparent;
      font-size: 14px;
    }
  }
}

.right-controls {
  justify-content: end;
}

.volume-slider {
  accent-color: red;
  display: none;
  width: 100px;
  margin: 0 10px;
  height: 2px;
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-container:hover .volume-slider {
  display: inline-block;
}

.volume-button {
  background: none;
  border: none;
  cursor: pointer;
}
