.player-bar {
  background-color: #524c4c;
  transition: transform 0.3s ease-in-out;
}

.progress-bar {
  height: 2px;
  background-color: red;
}

.controls-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #333;
}

.left-controls,
.middle-controls,
.right-controls {
  width: 33%;
  display: flex;
}

.left-controls,
.middle-controls,
.right-controls,
.volume-container,
.song-details,
.time-details {
  background-color: inherit;
}

.left-controls {
  align-items: center;
}

.left-controls button,
.right-controls button {
  background: transparent;
  border: none;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

.time-details {
  margin-left: 10px;

  & span {
    background: inherit;
    font-size: 12px;
    color: #aaaaaa;
  }
}

.control-icon {
  height: 30px;
  width: 30px;
  background: transparent;
}

.play-pause-icon,
.sound-icon,
.favorite-icon {
  height: 40px;
  width: 40px;
  background: transparent;
}

.middle-controls {
  align-items: center;
  justify-content: center;

  & .cover-container {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    border: none;

    & img {
      border-radius: 4px;
      width: 100%;
      height: 100%;
    }
  }

  & .song-details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    & span {
      background-color: transparent;
      font-size: 14px;
    }
  }
}

.right-controls {
  justify-content: end;

  & button {
    margin: 0 10px;
  }
}

.volume-slider {
  accent-color: red;
  display: none;
  width: 100px;
  margin: 0 10px;
  height: 2px;
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-container:hover .volume-slider {
  display: inline-block;
}

.volume-button {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .left-controls {
    width: 66%;

    & span {
      font-size: 20px;
    }
  }

  .control-icon {
    height: 60px;
    width: 60px;
  }

  .play-pause-icon {
    height: 75px;
    width: 75px;
  }

  .middle-controls {
    display: none;
  }

  .volume-container {
    display: none;
  }

  .right-controls {
    width: auto;
    justify-content: flex-end;
  }
}
